* {
  margin: 0;
  padding: 0;
}
.paddingTopPage {
  padding-top: 150px;
}
.decorationTextNone {
  text-decoration: none !important;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centreTexte {
  text-align: center;
}
.backColorVert {
  background-color: rgba(173, 255, 47, 0.7);
}
.backColorBleu {
  background-color: #244d78;
}
.backColorBleu:hover {
  background-color: #fdb813;
}
.colortexteVert {
  color: rgba(173, 255, 47, 1);
}
.colortexteBleu {
  color: #244d78;
}
.colortexteDore {
  color: #fdb813;
}
.borderDore {
  border: 2px solid #fdb813;
}
.buttontextSize {
  font-size: x-large;
  font-weight: 700;
}
.ombreNav:hover {
  box-shadow: 0 0 0 0 rgb(23, 255, 236);
  animation: pulse 1.3s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.01);
  }
}

/*media queries*/

@media screen and (max-width: 1100px) {
  .mobileBackFoot1100 {
    height: 450px !important;
  }
}
@media screen and (max-width: 900px) {
  .mobileBackFoot900 {
    height: 600px !important;
  }
  .mobileFlexCarte {
    flex-direction: column;
    align-items: center;
  }
  .mobileCarte {
    width: 320px !important;
  }
  .mobileMargCarte {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  /*contact*/
  .mobileCarteContact {
    flex-direction: column;
  }
  .mobileCarteSizeContact {
    width: 300px !important;
  }
}
@media screen and (max-width: 750px) {
  /*nav*/
  .mobileNavFixed {
    position: absolute !important;
    z-index: 10;
    top: 0;
  }
  /*mapage*/

  .mobileTitreHead {
    height: 150px !important;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mobileBackHead {
    background-size: cover !important;
    background-position: 80%, 0% !important;
  }
  /* solutions*/
  .mobileCarteSolutions {
    flex-direction: column;
  }
  .mobileCarteSizeSolutions {
    width: 300px !important;
  }
  .mobileBackGammes {
    height: auto !important;
  }
  .mobileEco {
    width: 60% !important;
  }
  .mobileBasique {
    width: 70% !important;
  }
  .mobileConfort {
    width: 80% !important;
  }
  .mobileAvance {
    width: 90% !important;
  }
  .mobilePremium {
    width: 100% !important;
  }
  .mobileimgStarkey {
    width: 90% !important;
  }

  /*footer*/

  .mobileFlexFoot {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;

    width: 100%;
  }
  .mobileBackFoot750 {
    height: auto !important;
  }
  .mobileTailleColone {
    height: 200px;
    width: 80% !important;
  }
  .MobileFlexFootColone {
    align-items: center !important;
  }
  .mobileMargFoot {
    margin-top: 3rem;
  }
  .mobileFootPara {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  /*acceuil et solutions*/
  .mobileSkillFlex {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mobileMargSkill {
    margin-top: 3rem;
  }
  .mobileMargProtect {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mobileBackSkill {
    height: auto !important;
  }
}
