* {
  margin: 0;
  padding: 0;
}
.paddingTopPage {
  padding-top: 150px;
}
.decorationTextNone {
  text-decoration: none !important;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centreTexte {
  text-align: center;
}
.backColorVert {
  background-color: rgba(173, 255, 47, 0.7);
}
.backColorBleu {
  background-color: #244d78;
}
.backColorBleu:hover {
  background-color: #fdb813;
}
.colortexteVert {
  color: rgba(173, 255, 47, 1);
}
.colortexteBleu {
  color: #244d78;
}
.colortexteDore {
  color: #fdb813;
}
.borderDore {
  border: 2px solid #fdb813;
}
.buttontextSize {
  font-size: x-large;
  font-weight: 700;
}
.ombreNav:hover {
  box-shadow: 0 0 0 0 rgb(23, 255, 236);
  animation: pulse 1.3s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.01);
  }
}
